@import '../UI/MainStyle/MainStyle.scss';
.cart-item {
    padding: 2rem;
    margin: 1rem;
    background-color: $light-color;
    border-radius: $mid-radius;
}
.name {
    color: $dark-color;
    font-family: samim;
    text-align: end;
    text-shadow: 2px 2px 5px $main-color;
}
.container{
    @include flex-between;
    width:90%;
    margin:2rem 2rem 1rem 2rem;
    & .summary {
        color: $black-color;
        text-align: end;
        width: 50%;
        & .price {
            padding: 7px;
            font-size:$high-font;
            border-radius:$low-radius;
        }
        & .amount {
            border: 1px solid $black-color;
            padding: 7px;
            background-color:decrease-color($warning-color,100%);
            border-radius: $mid-radius;
            color:$light-color;
            font-size:$high-font;
        }
    }   
    & .actions {
        font-size: 30px;
        text-align: start;
        width: 50%;
        @include flex-center;
    }
}
@media screen and (max-width: $size-laptop) {
   .container{
    & .summary {
        & .price {
            font-size:$mid-font;
        }
        & .amount {
            font-size:$mid-font;
        }
    }
   }
}
@media screen and (max-width: $size-tablet) {
    .cart-item {
        padding: 1rem;
        border-radius:$low-radius;
    }
   .container{
    & .summary {
        & .price {
            font-size: $low-font;
        }
        & .amount {
        font-size: $low-font;

        }
    }
    & .actions {
        font-size: 20px;
    }
   }
}
@media screen and (max-width: $size-mobile) {
   .container{
    & .summary {
        & .price {
            font-size: $low-font;
        }
        & .amount {
            padding: 5px;
        font-size: $low-font;
        }
    }
    & .actions {
        font-size: $mid-font;
        
    }
   }
}
