@import "../../UI/MainStyle/MainStyle.scss";
.meal {
    & .title {
        font-size: 30px;
        font-family: sultan;
    }
    & .description {
        font-family: nasim;
        font-size: $mid-font;
    }
    & .footer {
        margin-top: 2rem;
        @include flex-between;
        width: 100%;

        & .text {
            font-family: sahel;
            padding: 0.5rem 1rem;
            background: $main-color;
            border-radius: $mid-radius;
            font-size: $mid-font;
            & .price {
                color: $light-color;
                font-family: serif;
                margin: 1rem;
                font-size: $mid-font;
                font-weight: bold;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .meal {
        & .title {
            font-size: 24px;
        }
        & .description {
            font-size: $low-font;
        }
        & .footer {
            @include flex-column;

            & .text {
                width: 90%;
                font-size: $low-font;
                margin-bottom: 1rem;
                padding: 0.5rem;
                background: $main-color;
                border-radius: $mid-radius;
                & .price {
                    width: 100%;
                    font-family: serif;
                    font-size: $mid-font;
                    margin-top: 30px;
                    margin: 1rem;
                }
            }
        }
    }
}
