@import '../UI/MainStyle/MainStyle.scss';
.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: $main-color;
    color: $white-color;
    padding: 0.65rem 2.5rem;
   @include flex-center;
    border-radius: $high-radius;
    font-weight: 900;
    &:hover,
    &:active {
        background-color: increase-color($main-color,30%); 
    }
}
.bump {
    animation: bump 300ms ease-out;
}
@keyframes bump {
    0% {
        transform: scale(0.9);
    }
    10% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
        background-color: decrease-color($main-color,30%); 

    }
    50% {
        transform: scale(1.1);
        background-color: decrease-color($main-color,50%); 

    }
    100% {
        transform: scale(1);
    }
}
.icon {
    width: 1.35rem;
    height: 2rem;
    margin-left: 0.7rem;
    margin-top: -10px;
    font-size: 25px;
    color: $black-color;
}
.badge {
    background-color: decrease-color($main-color, 100%);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-right: 1rem;
    font-weight: bold;
    color:$light-color;
}
.validBadge {
    background-color:increase-color($success-color, 100%);
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-right: 1rem;
    font-weight: bold;
}
.cart {
    font-family: Rezvan;
    color: increase-color($light-color,100%);
    width: 60px;
}
@media screen and (max-width: 992px) {
    .button {
        padding: 0.5rem 1.5rem;
        font-weight: 600;
        font-size: 15px;
    }
    .icon {
        font-size: 20px;
        width: 1rem;
        height: 1.5rem;
        margin-left: 1.5rem;
    }
    .badge,
    .validBadge {
        padding: 0.15rem 0.7rem;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 578px) {
    .icon {
        font-size: 20px;
        height: 1.5rem;
        margin-left: 1.5rem;
        padding-top: 0.4rem;
    }
    .button{
        padding: 0.5rem 1.3rem;

    }
}
