@import "./MainStyle/MainStyle.scss";
.button {
    @include flex-center;
    background-color: $success-color;
    padding: 0.5rem 1.5rem;
    color: $light-color;
    font-size: $high-font;
    border-radius: $mid-radius;
    border: none;
    font-family: sahel;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    margin: 0 1rem;
    @include timer;
    &:hover,
    &:active {
        opacity: 1;
        background-color: increase-color($success-color, 100%);
    }
}
@media screen and (max-width: $size-laptop) {
    .button {
        margin: 0 0.7rem;
        padding: 0.4rem 1.2rem;
        font-size: $mid-font;
    }
}
@media screen and (max-width: $size-tablet) {
    .button {
        margin: 0 0.5rem;
        padding: 0.3rem 1rem;
        font-size: $low-font;
    }
}
