@import "../UI/MainStyle/MainStyle.scss";
.input {
    @include flex-center;
    & label {
        font-weight: bold;
        margin-left: 1rem;
        font-family: samim;
        font-size: $mid-font;
    }
    & input {
        background: increase-color($warning-color, 55%);
        color: $dark-color;
        width: 5rem;
        border-radius: 5px;
        border: 2px solid $dark-color;
        font: inherit;
        padding: 0.5rem;
        margin: 0.7rem;
        font-size: $mid-font;
        font-weight: 600;
    }
}
@media screen and (max-width: 768px) {
    .input {
        margin: 0.5rem;
        & label {
            font-size: $low-font;
        }
        & input {
            width: 3rem;
            border-radius: 5px;
            border: 2px solid $dark-color;
            font: inherit;
            padding: 0.2rem;
            font-size: $mid-font;
            font-weight: 600;
        }
    }
}
